<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/brand/favicon.ico">
    <title>TokyoTech</title>

    <link rel="stylesheet" href="/css/tokyo-night.css" type="text/css">
    <img class="brand" src="/brand/TokyoTechAdm.png" alt="TokyoTech">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>