<header>
    <nav>
        <ul>
            <a href="/">
                <li>Ver</li>
            </a>
            <a href="/consultar">
                <li>Consultar id</li>
            </a>
            <a href="/crear">
                <li>Crear</li>
            </a>
            <a href="/modificar">
                <li>Modificar</li>
            </a>
            <a href="/eliminar">
                <li>Eliminar</li>
            </a>
        </ul>
    </nav>
     <!-- Boton para cerrar sesion -->
    <form action="/logout" method="POST" id="logout">
        <input type="submit" value="Cerrar sesion">
    </form>
</header>