<%- include("partials/head.ejs") %>
    <%- include("partials/nav.ejs") %>

        <main>
            <h1>Eliminar producto por id</h1>
            <hr>

            <form id="getProduct-form">
                <label for="idProd">Id del producto</label>
                <input type="number" name="idProd" id="idProd" required>

                <input type="submit" value="Consultar producto">
            </form>

            <div id="contenedor-productos-consulta">
                <ul id="lista-productos"></ul>
            </div>
        </main>

        <script src="js/delete.js"></script>
        <%- include("partials/footer.ejs") %>